* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
background: #020024;
background: -webkit-linear-gradient(173deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
background: -moz-linear-gradient(173deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
background: linear-gradient(173deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00D4FF", GradientType=0);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    font-size: 65px;
    color:#FCFCFF;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    background: #5691c9;
    color:#FCFCFF;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: .2,5s;
}

.btn:hover {
   background: #1000f2;
background: -webkit-linear-gradient(192deg, rgba(16, 0, 242, 1) 0%, rgba(9, 9, 121, 1) 48%, rgba(0, 212, 255, 1) 100%);
background: -moz-linear-gradient(192deg, rgba(16, 0, 242, 1) 0%, rgba(9, 9, 121, 1) 48%, rgba(0, 212, 255, 1) 100%);
background: linear-gradient(192deg, rgba(16, 0, 242, 1) 0%, rgba(9, 9, 121, 1) 48%, rgba(0, 212, 255, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1000F2", endColorstr="#00D4FF", GradientType=0);
}
